html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.sketch-editor-wrap > .container {
  top: 0;
}

.sketch-editor-wrap > .container .main canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
}

#base64 {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}
#button1 {
  position: fixed;
  left: 0;
  bottom: 30px;
  z-index: 100;
}
#button2 {
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 100;
}
#button3 {
  position: fixed;
  left: 60px;
  bottom: 30px;
  z-index: 100;
}
#button4 {
  position: fixed;
  left: 90px;
  bottom: 30px;
  z-index: 100;
}
#button5 {
  position: fixed;
  left: 120px;
  bottom: 30px;
  z-index: 100;
}
#button6 {
  position: fixed;
  left: 150px;
  bottom: 30px;
  z-index: 100;
}
