.wrap > .container {
  top: 0;
}

.main canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
}

#base64 {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}
#button1 {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
}
#button2 {
  position: fixed;
  right: 30px;
  bottom: 0;
  z-index: 100;
}
#button3 {
  position: fixed;
  right: 60px;
  bottom: 0;
  z-index: 100;
}
#button4 {
  position: fixed;
  right: 90px;
  bottom: 0;
  z-index: 100;
}
