html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: arial, sans-serif;
  background: #FFF;
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap .menu {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background: #413B3D;
  z-index: 10;
}
.wrap > .container {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.list {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.page {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 8px;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
  list-style: none;
}
.page li {
  display: flex;
  align-items: center;
  padding: 0 4px;
  height: 24px;
  font-size: 14px;
  border-radius: 5px;
  cursor: default;
}
.page li.current {
  background: #FA8;
}
.tree {
  position: absolute;
  left: 0;
  top: 150px;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  font-size: 12px;
}
.tree dl {
  margin: 0 0 0 10px;
  height: 24px;
  overflow: hidden;
  transition: transform 0.3s;
}
.tree dl.expand {
  height: auto;
}
.tree dl.expand > dt > .arrow {
  transform: rotate(90deg);
}
.tree dl.expand > dt > .group {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGKioqLi4uJiYmKioo+i8DTAAAABHRSTlMAv0CAYFATkgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGpJREFUeJzd0lEKwCAMA9Amzf3PPNjQqWsVJuxj+fVZa6nZb+LQEHhzTIW5AWLgK6AKNFx4RGdXtgAsldqvsANMG9X1At4AVMCghQ5YPE82AHMAnwxTabANuAtQFi4DdQMWBbKdmmzQ1zkAXVUHxJnsxggAAAAASUVORK5CYII=);
}
.tree > dl {
  margin-left: 0;
}
.tree dt {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 400;
  height: 24px;
  border-radius: 3px;
}
.tree dt:hover,
.tree dt .hover {
  background: #f3f3f3;
}
.tree dt:hover .visible,
.tree dt .hover .visible {
  opacity: 1 !important;
}
.tree dt.active {
  background: #F96;
}
.tree dt span {
  margin: 0 1px;
}
.tree .name {
  flex: 1;
  margin: 0 1px 0 2px;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  font-size: 12px;
}
.tree .arrow {
  width: 16px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmLi4uKioqKioroQWixAAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAADxJREFUeJzt0jEOACAMAkAo/P/NxrkJHTVRVm5qAW5KSRWBbEdBf9HugUlwAhp6h6fw8R4bxNGWmGd/Lgtr9QGliQYH7QAAAABJRU5ErkJggg==) no-repeat center;
  background-size: 14px 14px;
}
.tree .mask {
  width: 12px;
  height: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXG/v7+/v7+/v7+/v7+0sE34AAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHNJREFUeJzNk9sKwCAMQ5s0///Nw8vYi40DGSwPIubYQo0RH4kEjJtqorelogS6mQkaP6vq0X1jB+vWQ5AyjCApNgAsoE0BHnfAzwHiAfp+eRf3yuIVMZdVI7TjBhR+jKS8yKILzCTMJDqxC5yfZFR/4UwXJAECEkhS6UQAAAAASUVORK5CYII=) no-repeat center;
  background-size: 12px 12px;
}
.tree .type {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}
.tree .type.group {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGKioqJiYmLi4uKiopYxsThAAAABHRSTlMAv4BAMM4GbAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFtJREFUeJzV0lEKwCAMA9Am5v5nHmMqgzXrn2h++zAqjdgjjfoGaHMukyHgACugDnQ3zsIketVZEJE9hAVQv6Y8QAW0EpAFcFkFUAH6+fPV4Y8YW8Cc8HdLjsoFWTcIPlIlhe0AAAAASUVORK5CYII=);
}
.tree .type.text {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAgCAMAAACvkzHFAAAAD1BMVEVMaXGLi4uJiYmKioqKioqjr6EAAAAABHRSTlMAQIC/o1TdDAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKFJREFUeJzNkksOxDAIQ8H2/c9cAZl+FJJKs6oXVSSsB5iafVgOf/VA3ABKFMdr5kGT/vI8RL0O7huGs3aisAYgizuMmSlM+ckwFiBFQsO/wEFULeUavFlnhUsPIrzkSOibISthcrHPAIGPQSqjDsSaIBCesHmiYYlkrH6RqVk2uq3XHh+XJWYqoV2/2vJ2QGs1MtqdNzb7AVcgP0e7Xt/SAT1hAsgUUcgPAAAAAElFTkSuQmCC);
}
.tree .type.symbol-master {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEVMaXHRAP/QAP/PAv/RAP/RAf/PAP/RAP/QAf/RAP/SAP/QAf/QAf/PAP/QAf/QAf/uov+O2ltNAAAAD3RSTlMAiD6QbvgKf+RMLbPEINI1tsIGAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfElEQVR4nO2TSw6AIAxEh38Bdbz/aY3xS40a974V0DKUZgo0RB/xiKe/nGXhLZIBPMRJAUCOt5B/wszfhy99kDfLvZp2pTD027oPLBf3V7pj41h13DKYtGMCrUro9POdGq9GICUjPNUHYNAz6Tm0AqKmOrYS9vzh9Y4sZU7qyyurbLtifQAAAABJRU5ErkJggg==);
}
.tree .type.symbol-instance {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAolBMVEVMaXHQAf/RJf/VGf/UH//PAP/QAf/UEP/eFf/XJP/XIv/QAP/QAP/QAP/RAf/QAP/QAf/QAf/QAf/QAf/RAf/PAP/aNf/cQf/cSv/dSP/hUP/bQv/ZMf/QAv/RAv/RAP/PAv/QAv/eR//XLP/fTf/XK//QAv/bOP/bOf/uov/QAf/SB//tm//XIv/mdf/qi//hXf/aN//bQf/sk//fU//YLv96DRenAAAAKXRSTlMA/BD6CSHz/gUY7XlLZuI+xM/Z67Ytx5JIWSl/0oiqWJuUa4Y44ae3tj1uCPsAAAAJcEhZcwAACxMAAAsTAQCanBgAAADbSURBVHicjZPXDoJAEEUvoIIVFey9Oxd7+f9fM5gQBMFxXzbZc5K9szsDJFd9hZ/LNbj8xYseaa/zeaFF/0nLzBW2bJsHi5s8XmWpAzkH3GXzmsEaIHIiR1m8U2IVoSAPBv1vbrY5DXcRkSut8pfgs1WIhMORFSfFJ/SKiAQ52+wm+YyGi1gIg/ZSAev4FOTCYBDzcoNzJAW50R5GZ06TTScthEHfqQEs2IirigS52xz/KzjaFdBCQi0T6kNBfWqonwX1u6E1jN5yH027z+Z62+uDo46ePrwZ4/8CQhQrboOYYAsAAAAASUVORK5CYII=);
}
.tree .type.art-board {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAMFBMVEVMaXGXl5eXl5eXl5eWlpaYmJiXl5eenp6YmJiXl5eXl5eXl5eXl5eXl5eXl5fi4uK6FOohAAAADnRSTlMAf+RMizj4CnAgs9LEZXo4EaYAAAAJcEhZcwAACxMAAAsTAQCanBgAAAB6SURBVHic7ZNLDoAgDESHWr7qeP/bGuOXEjXufSugMC3NFKiIY8Qjiak564S3SAfgIU4KAHK6hfwvLPx9+NIHebPcq2k3PEPe1znQN+4v1HOjLDbuGdQdaCsx2PSDGa9KwDkVXuoD0NuZTOxrATFTHWsJf/3w9kbWMmfk1SgaFE1IPAAAAABJRU5ErkJggg==);
}
.tree .type.bitmap {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAMAAACf4xmcAAAAD1BMVEWLi4tMaXGKioqJiYmKiop7sw+NAAAABHRSTlNAAL+ApmIP8AAAAAlwSFlzAAALEwAACxMBAJqcGAAAAK5JREFUeJzNlFEOwzAIQw32/c880SZNtbCQSZtUf79EYAOwLeHnGHwl8sDgqgSD1ZRkoORYyiUExqJ8iYHhORiADczVe1thOP2qMH6B+YSBdO9F99rwhl3x897pZMgImWk3DXPFVGGYkGN3G1hjFg1uYDa+I3l2kWEMu4Bm7/EktZfzHqQpsFvT7PwUFvrWxRvnE4f8UqwoIDmrdebucWhTv1Scmkhvfbn+ci03sBdSIAnm85J8fwAAAABJRU5ErkJggg==);
}
.tree .geom {
  width: 16px;
  height: 16px;
}
.tree svg {
  display: block;
  overflow: visible;
  transform-origin: 0 0;
}
.tree .visible {
  width: 16px;
  height: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmLi4uKioqKioroQWixAAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAINJREFUeJzlkkESwCAIAyHk/2/uiNqC6PTecnJYSRAU+XOAegBA56QfUqiS9MrGi4I2+sZNTxyzOHALTSDUjHNu0wrvnsFfq9aTBWkbL3lMdGYTD7pi3W7lU1dE6nxaj/GdkrmPbVkG5pzRdxL01/ncO0nByH0l2x8CQOs/GDcO+W/EBf23An1cysX/AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
.tree .visible.t {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmKioqLi4uKiorbZ+qoAAAABHRSTlMAgL9ARyeO/QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIJJREFUeJztkUsSgDAIQ0ng/md2WoK1HxfuzcKx5pHB1OzXKgcZQQLHbsAY2hGkQbaQA4Lu+vM0EWh224IyMBOIiD6d6b4SqAMiqCzzGso51IsZ20O0AA6AopRbBYXSer5oPy3hueTm27zm9hOjGn3y3jq+VW03ktzLfULXXQX9slsX/f0C5gV3+OMAAAAASUVORK5CYII=);
  opacity: 0;
}
.tree dd {
  margin: 0;
}
.main {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.main .canvas-c {
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
}
.main canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.side {
  position: relative;
  z-index: 11;
  width: 250px;
  padding: 6px 10px;
  overflow-x: visible;
  overflow-y: auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.basic {
  opacity: 0.5;
}
.basic.show {
  opacity: 1;
}
.basic .line {
  display: flex;
  margin-bottom: 3px;
}
.basic label {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  width: 72px;
  font-size: 12px;
  font-family: Menlo, "Courier New";
}
.basic label:first-child {
  margin-left: 0;
}
.basic label .num {
  margin: 0 2px 0 0;
  padding: 0 5px;
  width: 65px;
  height: 21px;
  border: none;
  background: #ededed;
  border-radius: 5px;
  font-size: 12px;
  transform: scale(0.917);
  transform-origin: 0 center;
}
.basic label .num:disabled {
  color: #bbb;
}
.basic label span {
  transform: translateX(-5px) scale(0.833);
  transform-origin: 0 center;
}
/*.text {*/
/*  display: none;*/
/*  margin-top:10px;*/
/*}*/
/*.text.show {*/
/*  display: block;*/
/*}*/
/*.text .line {*/
/*  position: relative;*/
/*  display: flex;*/
/*  margin-bottom: 3px;*/
/*}*/
/*.text .line2 {*/
/*  position: relative;*/
/*}*/
/*.text .family {*/
/*  width: 260px;*/
/*  height: 24px;*/
/*}*/
/*.text .family2 {*/
/*  position: absolute;*/
/*  top: 2px;*/
/*  left: 2px;*/
/*  padding: 0 3px;*/
/*  box-sizing: border-box;*/
/*  width: 230px;*/
/*  height: 20px;*/
/*  background: #FFF;*/
/*  line-height: 20px;*/
/*  font-size: 12px;*/
/*  pointer-events: none;*/
/*}*/
/*.text .family-n {*/
/*  color: #f33 !important;*/
/*  text-shadow: 0 0 2px rgba(80, 40, 0, 30%);*/
/*}*/
/*.text .style {*/
/*  margin-right:10px;*/
/*  width: 190px;*/
/*  height: 24px;*/
/*  font-size: 12px;*/
/*}*/
/*.text .style-n {*/
/*  color: #f33 !important;*/
/*  text-shadow: 0 0 2px rgba(80, 40, 0, 30%);*/
/*}*/
/*.text .style2 {*/
/*  position: absolute;*/
/*  top: 2px;*/
/*  left: 2px;*/
/*  padding: 0 3px;*/
/*  box-sizing: border-box;*/
/*  width: 170px;*/
/*  height: 20px;*/
/*  background: #FFF;*/
/*  line-height: 20px;*/
/*  font-size: 12px;*/
/*  pointer-events: none;*/
/*}*/
/*.text .color {*/
/*  height: 24px;*/
/*}*/
/*.text .color2 {*/
/*  position: absolute;*/
/*  top: 2px;*/
/*  left: 2px;*/
/*  padding: 0 3px;*/
/*  box-sizing: border-box;*/
/*  width: 46px;*/
/*  height: 20px;*/
/*  background: #FFF;*/
/*  line-height: 20px;*/
/*  font-size: 12px;*/
/*  pointer-events: none;*/
/*  text-align: center;*/
/*}*/
@keyframes blink {
  0% {
    visibility: visible;
  }
  33% {
    visibility: visible;
  }
  67% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
