html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: arial, sans-serif;
  background: #FFF;
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap .menu {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background: #413B3D;
  z-index: 10;
  color: #FFF;
}
.wrap > .container {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.list {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.page {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 8px;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
  list-style: none;
}
.page li {
  display: flex;
  align-items: center;
  padding: 0 4px;
  height: 24px;
  font-size: 14px;
  border-radius: 5px;
  cursor: default;
}
.page li.current {
  background: #FA8;
}
.tree {
  position: absolute;
  left: 0;
  top: 150px;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  font-size: 12px;
}
.tree dl {
  margin: 0 0 0 10px;
  height: 24px;
  overflow: hidden;
  transition: transform 0.3s;
}
.tree dl.expand {
  height: auto;
}
.tree dl.expand > dt > .arrow {
  transform: rotate(90deg);
}
.tree dl.expand > dt > .group {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGKioqLi4uJiYmKioo+i8DTAAAABHRSTlMAv0CAYFATkgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGpJREFUeJzd0lEKwCAMA9Amzf3PPNjQqWsVJuxj+fVZa6nZb+LQEHhzTIW5AWLgK6AKNFx4RGdXtgAsldqvsANMG9X1At4AVMCghQ5YPE82AHMAnwxTabANuAtQFi4DdQMWBbKdmmzQ1zkAXVUHxJnsxggAAAAASUVORK5CYII=);
}
.tree > dl {
  margin-left: 0;
}
.tree dt {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 400;
  height: 24px;
  border-radius: 3px;
}
.tree dt:hover,
.tree dt .hover {
  background: #f3f3f3;
}
.tree dt:hover .visible,
.tree dt .hover .visible {
  opacity: 1 !important;
}
.tree dt.active {
  background: #F96;
}
.tree dt span {
  margin: 0 1px;
}
.tree .name {
  flex: 1;
  margin: 0 1px 0 2px;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  font-size: 12px;
}
.tree .arrow {
  width: 16px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmLi4uKioqKioroQWixAAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAADxJREFUeJzt0jEOACAMAkAo/P/NxrkJHTVRVm5qAW5KSRWBbEdBf9HugUlwAhp6h6fw8R4bxNGWmGd/Lgtr9QGliQYH7QAAAABJRU5ErkJggg==) no-repeat center;
  background-size: 14px 14px;
}
.tree .mask {
  width: 12px;
  height: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXG/v7+/v7+/v7+/v7+0sE34AAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHNJREFUeJzNk9sKwCAMQ5s0///Nw8vYi40DGSwPIubYQo0RH4kEjJtqorelogS6mQkaP6vq0X1jB+vWQ5AyjCApNgAsoE0BHnfAzwHiAfp+eRf3yuIVMZdVI7TjBhR+jKS8yKILzCTMJDqxC5yfZFR/4UwXJAECEkhS6UQAAAAASUVORK5CYII=) no-repeat center;
  background-size: 12px 12px;
}
.tree .type {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}
.tree .type.group {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGKioqJiYmLi4uKiopYxsThAAAABHRSTlMAv4BAMM4GbAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFtJREFUeJzV0lEKwCAMA9Am5v5nHmMqgzXrn2h++zAqjdgjjfoGaHMukyHgACugDnQ3zsIketVZEJE9hAVQv6Y8QAW0EpAFcFkFUAH6+fPV4Y8YW8Cc8HdLjsoFWTcIPlIlhe0AAAAASUVORK5CYII=);
}
.tree .type.text {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAgCAMAAACvkzHFAAAAD1BMVEVMaXGLi4uJiYmKioqKioqjr6EAAAAABHRSTlMAQIC/o1TdDAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKFJREFUeJzNkksOxDAIQ8H2/c9cAZl+FJJKs6oXVSSsB5iafVgOf/VA3ABKFMdr5kGT/vI8RL0O7huGs3aisAYgizuMmSlM+ckwFiBFQsO/wEFULeUavFlnhUsPIrzkSOibISthcrHPAIGPQSqjDsSaIBCesHmiYYlkrH6RqVk2uq3XHh+XJWYqoV2/2vJ2QGs1MtqdNzb7AVcgP0e7Xt/SAT1hAsgUUcgPAAAAAElFTkSuQmCC);
}
.tree .type.symbol-master {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEVMaXHRAP/QAP/PAv/RAP/RAf/PAP/RAP/QAf/RAP/SAP/QAf/QAf/PAP/QAf/QAf/uov+O2ltNAAAAD3RSTlMAiD6QbvgKf+RMLbPEINI1tsIGAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfElEQVR4nO2TSw6AIAxEh38Bdbz/aY3xS40a974V0DKUZgo0RB/xiKe/nGXhLZIBPMRJAUCOt5B/wszfhy99kDfLvZp2pTD027oPLBf3V7pj41h13DKYtGMCrUro9POdGq9GICUjPNUHYNAz6Tm0AqKmOrYS9vzh9Y4sZU7qyyurbLtifQAAAABJRU5ErkJggg==);
}
.tree .type.symbol-instance {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAolBMVEVMaXHQAf/RJf/VGf/UH//PAP/QAf/UEP/eFf/XJP/XIv/QAP/QAP/QAP/RAf/QAP/QAf/QAf/QAf/QAf/RAf/PAP/aNf/cQf/cSv/dSP/hUP/bQv/ZMf/QAv/RAv/RAP/PAv/QAv/eR//XLP/fTf/XK//QAv/bOP/bOf/uov/QAf/SB//tm//XIv/mdf/qi//hXf/aN//bQf/sk//fU//YLv96DRenAAAAKXRSTlMA/BD6CSHz/gUY7XlLZuI+xM/Z67Ytx5JIWSl/0oiqWJuUa4Y44ae3tj1uCPsAAAAJcEhZcwAACxMAAAsTAQCanBgAAADbSURBVHicjZPXDoJAEEUvoIIVFey9Oxd7+f9fM5gQBMFxXzbZc5K9szsDJFd9hZ/LNbj8xYseaa/zeaFF/0nLzBW2bJsHi5s8XmWpAzkH3GXzmsEaIHIiR1m8U2IVoSAPBv1vbrY5DXcRkSut8pfgs1WIhMORFSfFJ/SKiAQ52+wm+YyGi1gIg/ZSAev4FOTCYBDzcoNzJAW50R5GZ06TTScthEHfqQEs2IirigS52xz/KzjaFdBCQi0T6kNBfWqonwX1u6E1jN5yH027z+Z62+uDo46ePrwZ4/8CQhQrboOYYAsAAAAASUVORK5CYII=);
}
.tree .type.art-board {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAMFBMVEVMaXGXl5eXl5eXl5eWlpaYmJiXl5eenp6YmJiXl5eXl5eXl5eXl5eXl5eXl5fi4uK6FOohAAAADnRSTlMAf+RMizj4CnAgs9LEZXo4EaYAAAAJcEhZcwAACxMAAAsTAQCanBgAAAB6SURBVHic7ZNLDoAgDESHWr7qeP/bGuOXEjXufSugMC3NFKiIY8Qjiak564S3SAfgIU4KAHK6hfwvLPx9+NIHebPcq2k3PEPe1znQN+4v1HOjLDbuGdQdaCsx2PSDGa9KwDkVXuoD0NuZTOxrATFTHWsJf/3w9kbWMmfk1SgaFE1IPAAAAABJRU5ErkJggg==);
}
.tree .type.bitmap {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAMAAACf4xmcAAAAD1BMVEWLi4tMaXGKioqJiYmKiop7sw+NAAAABHRSTlNAAL+ApmIP8AAAAAlwSFlzAAALEwAACxMBAJqcGAAAAK5JREFUeJzNlFEOwzAIQw32/c880SZNtbCQSZtUf79EYAOwLeHnGHwl8sDgqgSD1ZRkoORYyiUExqJ8iYHhORiADczVe1thOP2qMH6B+YSBdO9F99rwhl3x897pZMgImWk3DXPFVGGYkGN3G1hjFg1uYDa+I3l2kWEMu4Bm7/EktZfzHqQpsFvT7PwUFvrWxRvnE4f8UqwoIDmrdebucWhTv1Scmkhvfbn+ci03sBdSIAnm85J8fwAAAABJRU5ErkJggg==);
}
.tree .geom {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
.tree svg {
  display: block;
  overflow: visible;
}
.tree .visible {
  width: 16px;
  height: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmLi4uKioqKioroQWixAAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAINJREFUeJzlkkESwCAIAyHk/2/uiNqC6PTecnJYSRAU+XOAegBA56QfUqiS9MrGi4I2+sZNTxyzOHALTSDUjHNu0wrvnsFfq9aTBWkbL3lMdGYTD7pi3W7lU1dE6nxaj/GdkrmPbVkG5pzRdxL01/ncO0nByH0l2x8CQOs/GDcO+W/EBf23An1cysX/AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
.tree .visible.t {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmKioqLi4uKiorbZ+qoAAAABHRSTlMAgL9ARyeO/QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIJJREFUeJztkUsSgDAIQ0ng/md2WoK1HxfuzcKx5pHB1OzXKgcZQQLHbsAY2hGkQbaQA4Lu+vM0EWh224IyMBOIiD6d6b4SqAMiqCzzGso51IsZ20O0AA6AopRbBYXSer5oPy3hueTm27zm9hOjGn3y3jq+VW03ktzLfULXXQX9slsX/f0C5gV3+OMAAAAASUVORK5CYII=);
  opacity: 0;
}
.tree dd {
  margin: 0;
}
.main {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.main .canvas-c {
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
}
.main canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.side {
  position: relative;
  z-index: 11;
  width: 250px;
  padding: 5px 0;
  overflow-x: visible;
  overflow-y: auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
.side .panel-title {
  margin: 0 0 2px;
}
.side .basic-panel {
  margin-bottom: 5px;
  padding: 0 10px 5px;
  border-bottom: 0.5px solid #CCC;
}
.side .basic-panel .line {
  display: flex;
  margin-bottom: 3px;
}
.side .basic-panel label {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  width: 65px;
  padding: 0 5px 0 0;
  background: #F0F0F0;
  border-radius: 3px;
  font-family: Menlo, "Courier New", sans-serif;
  font-size: 10px;
}
.side .basic-panel label.disabled {
  opacity: 0.5;
}
.side .basic-panel label:first-child {
  margin-left: 0;
}
.side .basic-panel .num {
  margin: 0;
  padding: 0 0 0 5px;
  width: 55px;
  height: 20px;
  border: none;
  background: transparent;
  font-size: 11px;
}
.side .basic-panel .fh {
  margin-left: 10px;
  width: 32px;
  height: 20px;
  background: #F0F0F0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAZlJREFUWEfVlu2NgzAMhpNpGON6CzARoT3CRCxQ1oAZYAVyZ1RXKeTD74kKlT8IEceP39ixtTr50Sf7V58JUNf1zTn3Za39JgXpm95N06xv5IEVqKrqorW+kxPn3ArA39ZaeD/YwBhDzi8hAK31D6oCBMDRkyPn3NVXoCgKNQyDQlWAADh6ckyy+wBlWaqu6+g4IBVQAEcOlmXpQwCkAKqCGOCR+VeSmI9iqwDlBaqCGMAY4/6Sr6fSSwGgKogAfIdt2/YpAFQFEcAj+SjD17rPASAqZAG20SMAkorIAmyjlwDQGlJhHMdsSSYBQtEjAASRUyEJEIpeCiBNxihALHoEQJKMUYBY9AiARIUgQCp6FCCnQhCAm06ss+Xuge1AkrqedwB+y431dhQgpcIOwG86sdEKBUjlwg7AbzpHAsRUeAHg6KnNUtM5EiCmwgtAqvR8mP8cAV/P24HlCZArvSMB/Ov5CcClRz8lc31oKJXYzfOspmlaB5t1pGcjPn/JJryG7wl/VJfYBxWQGL5jTXYeeIdTf8/TAX4BImDPMDQ+uPIAAAAASUVORK5CYII=) no-repeat center;
  background-size: 16px auto;
  border-radius: 3px;
}
.side .basic-panel .fh.disabled {
  opacity: 0.5;
}
.side .basic-panel .fh.disabled:hover {
  transform: none;
}
.side .basic-panel .fh.active {
  background-color: #F96;
}
.side .basic-panel .fh:hover {
  transform: translateY(-1px);
}
.side .basic-panel .fv {
  margin-left: 10px;
  width: 32px;
  height: 20px;
  background: #F0F0F0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAT5JREFUWEfFl9sNgzAMRWNmYAfGgO7FOwxGx2AHZsCVK1KlFo+EOBApH0jAPbavHQD18IKH9dVtAHVdt4iYA8C77/vWBB4VoCzLIkmSAhEbO9Na659uFAASBgASLVbhERE7AxMNgAsDQGeney1DIw7AhL/RDsMwcoOLA7gKGxAxAF9hMQATgW2srVTvzZZLGdhztI/wpQxsOXpZlvGKsBcAry+fXCGj+7QEdo2phyniEEH+7OkgqqoKJQX33nU4iKgEMSG4h/7OgtjiFNghwE0lGLXWr83j2DZhlmWKtuSapknRPvQAQZCoOcMlQZwA7IilM+INwCcYXYdk5DLAHogBcvVJMEAoiBgAA8nNt99ZecQBbBCXzokG4AoSHeCshW8F2DJsmqZqnufjSejaUr73maHG/xWi/Bn5wD0O8AHHMUswZKSw7wAAAABJRU5ErkJggg==) no-repeat center;
  background-size: 16px auto;
  border-radius: 3px;
}
.side .basic-panel .fv.disabled {
  opacity: 0.5;
}
.side .basic-panel .fv.disabled:hover {
  transform: none;
}
.side .basic-panel .fv.active {
  background-color: #F96;
}
.side .basic-panel .fv:hover {
  transform: translateY(-1px);
}
.side .opacity-panel,
.side .round-panel {
  margin-bottom: 5px;
  padding: 0 10px 5px;
  border-bottom: 0.5px solid #CCC;
}
.side .opacity-panel .line,
.side .round-panel .line {
  display: flex;
  align-items: center;
}
.side .opacity-panel input[type=range],
.side .round-panel input[type=range] {
  flex: 1;
}
.side .opacity-panel input[type=number],
.side .round-panel input[type=number] {
  margin: 0 0 0 5px;
  padding: 0 5px;
  width: 40px;
  height: 20px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #F0F0F0;
  font-size: 11px;
}
.side .opacity-panel span,
.side .round-panel span {
  background: #F0F0F0;
  width: 12px;
  height: 20px;
  line-height: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.side .fill-panel,
.side .stroke-panel {
  margin-bottom: 5px;
  padding: 0 10px 5px;
  border-bottom: 0.5px solid #CCC;
}
.side .fill-panel .line,
.side .stroke-panel .line {
  display: flex;
  font-size: 11px;
  justify-content: space-between;
}
.side .fill-panel .line > div,
.side .stroke-panel .line > div {
  display: flex;
  flex-direction: column;
}
.side .fill-panel .line > div > div,
.side .stroke-panel .line > div > div {
  display: flex;
  align-items: center;
}
.side .fill-panel .un-checked,
.side .stroke-panel .un-checked {
  width: 12px;
  height: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAGKADAAQAAAABAAAAGAAAAADB/VeXAAABLUlEQVRIDe2WMY6CUBCG970sndV2m+wNLLyCIR5jO3HhBB7CCwAGO4+xMV5hC29gYrcVHQn4f0YSY+GDCFa8ZJw3j5lvJiN5g3m7rqqqTJIkgfTcGDPW8ah+1lDnij0odhNFUSZdEWf4SdP0syzLrbY+dgdrZ639DsPw9H6tvIYflXkp2fOwTSKKFGsqWSnOp2DtZyaO44UO1pKj53mTIAj+24DvfbMs+yiK4k/nX5IfqyxznKj8WTgcGLDYw7Yy+ENJsEd3sWoWbCvg5W1p2/NHhdywRiTodQ0JnO0dWjS0yNkBp8NL3qKcMrjPneU0dLhh5VzXB+Kkpw3jnW41CzbX9YYIGSuGhTPa4QADFm6wjQyG/a9sX9LVyGSa7TT8Z70P/UsCZaNFvXy2nAG9DqEGM9MRewAAAABJRU5ErkJggg==) no-repeat center;
  background-size: contain;
  transform: translateY(4px);
}
.side .fill-panel .checked,
.side .stroke-panel .checked {
  width: 12px;
  height: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAGKADAAQAAAABAAAAGAAAAADB/VeXAAACMklEQVRIDbWWz2sTQRTHv7PZaTfYHLzpvRYkBz14UfxFqKeeSvFnqgd/JEEFRS8iRfEXXoSCgtraetGL/4AHkQgieAmoSFSkd882LRubWdf3Nplk11k0ZtcHk5n33rzPe/ODnQh0xAdEozJ2Er5/gkx5aiPa12e/QvPqEGIx9/DrggAISVD+WS1t3uiJ1lNSC6wnF7+a8eX0uvnP3yyuPF04lycKzGS2WK6MnaJtmU9edQxBiJLV2fMYbwomOk+LMHygyUQ6ADdT8pzgX29LBCP3FJGbrQVNbp+M+JjNCQaWocIxOIevAvZQ0IanLhmsgRPIvUUMH5iJAP3V7xGdlYESyF2H4By8EoH5ay6aTy5HbLEJ7PxujNx+HTR76z4jQO7cD+fINb7hPV+rCfd+Bd5SrWfrjIwVONM3INZvCFq2dBf2tolukNwxBad48zf4D7gPTsP78rY7Lzyww4oxtjLIHr8DlxwiI+EcvRWFqzW4c2egPr0xQrVBLJc3BR8lbbC3jCNbvkenk9Em4KfXBovQglWL4GehPr7qzYsZhSLaXvXhJdzHF9tQHcDJwnBPwX107q9wDjcSsFHVnptJ2MFCq3EXzoML6UdiE3BgbBKGL16AeveiH3Yw54+HHCShg9R3vvnsOtT7/irXFfAhN0hJ9D3SsJh+hbeoHuNIy1S3+A1Ni2ZwiC34WWuUR2lj03qPdRq/mptbGrf49ecHmrqqdiXv248+s7tfrGAl/+Fvyy9N0bde6toDwgAAAABJRU5ErkJggg==) no-repeat center;
  background-size: contain;
  transform: translateY(4px);
}
.side .fill-panel .multi-checked,
.side .stroke-panel .multi-checked {
  width: 12px;
  height: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAGKADAAQAAAABAAAAGAAAAADB/VeXAAABLUlEQVRIDWNkgIL/DAyMnzPUUhj+/08GCmkDMQ9Mjkj6C1DdVQZGxrm8M27NYWRgABoJNBREfE3TlPzL+HsJkOsE4lMO/u9j/s8awz3r+nMmkMupazjIeYxOIDNBZjN+ylBLBQbLLMpdjcUERsY0JmiYY5GlghAwPpmAxoAilFZAG2QBqamFFMfwgCygKRj6FrCghw+Ljh0DR3QLA6OgBLoUXv7/9y8YfiytYfhz5RCKOowgIsdwkIkgB4H0ogMMC9AVUMrHsADkTZB3SQWwIELXx/gpXRVc6qFLUIuP4QNqGQwzZ3hYAKqJaAW+gILoKq1MB5nNBKpDaWYB0GxGULX2OV1lD6iao65F//fxzrzjwgSq/UEVNJDaRz0LIJU+yGxwqwJkMNgnNGi2AACn3l2PYicOrQAAAABJRU5ErkJggg==) no-repeat center;
  background-size: contain;
  transform: translateY(4px);
}
.side .fill-panel .picker,
.side .stroke-panel .picker {
  position: relative;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAIAAABuYg/PAAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAJKADAAQAAAABAAAAJAAAAAAJxsHGAAAAaUlEQVRIDe3QsRHAIAwEQXAz9N8NqganF8IFit7RB9xovHPvPd6/tdZ7ND7R6CTHNB3DMFJD7zBqOoZhpIbeYdR0DFsZ5zmHxy93VV2+5LPWP8sx0usdRk3HMIzU0DuMmo5hGKmhdyvjD7P7CMyQVK4bAAAAAElFTkSuQmCC) repeat left top;
  background-size: 12px auto;
  border: 1px solid #CCC;
  border-radius: 3px;
}
.side .fill-panel .picker b,
.side .stroke-panel .picker b {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  user-select: none;
}
.side .fill-panel .txt,
.side .stroke-panel .txt {
  margin-top: 2px;
  width: auto;
  white-space: nowrap;
  font-size: 10px;
  text-align: center;
  color: #333;
}
.side .fill-panel .color span,
.side .stroke-panel .color span {
  text-align: center;
}
.side .fill-panel .hex div span,
.side .stroke-panel .hex div span {
  width: 12px;
  height: 20px;
  line-height: 20px;
  background: #F0F0F0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: right;
  color: #999;
}
.side .fill-panel .hex input[type=text],
.side .stroke-panel .hex input[type=text] {
  font-family: Menlo, "Courier New", sans-serif;
}
.side .fill-panel input[type=text],
.side .stroke-panel input[type=text] {
  margin: 0;
  padding: 0 5px;
  box-sizing: border-box;
  width: 90px;
  height: 20px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #F0F0F0;
  font-size: 11px;
}
.side .fill-panel input[type=number],
.side .stroke-panel input[type=number] {
  flex: 0 0 auto;
  padding: 0 5px;
  width: 40px;
  height: 20px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #F0F0F0;
  font-size: 11px;
}
.side .fill-panel .opacity div span,
.side .stroke-panel .opacity div span,
.side .fill-panel .width div span,
.side .stroke-panel .width div span {
  background: #F0F0F0;
  width: 12px;
  height: 20px;
  line-height: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.side .fill-panel .pos div,
.side .stroke-panel .pos div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  width: 90px;
  height: 20px;
  background: #F0F0F0;
  border-radius: 3px;
}
.side .fill-panel .pos div span,
.side .stroke-panel .pos div span {
  width: 30px;
  height: 18px;
  background-size: auto 16px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}
.side .fill-panel .pos div span:hover,
.side .stroke-panel .pos div span:hover {
  transform: translateY(-1px);
}
.side .fill-panel .pos div .outside,
.side .stroke-panel .pos div .outside {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACPTkDJAAABr0lEQVRYCe1XsW7CMBDFFi3KhsJE1U5hRIiJpR9QlJ0pIlPFN5SlQ6d+Q9WpUiYyI/oBXegSIUaYWpEJxBZRpNB7KJYSV1mCKxZHOtl3tt87v3i4Y71e79IwjKfD4eCW6GOMvUVR9DgajX7gq/ryeDjI4zhukXUSayGmiljg5PGUcXOyjud539jsOM6A/ClNH8RhFWMeT1kGbzab9eVyWZ1MJitaq8vrBf3Q9/2qZVnAO15U4DDXdZ/xCyjDAcg3m81HrVa7aLfbYo+SMQiC0nq93pumeTufz0N6ay+c8xlLP45KpVJtNBoGJfJOi/e2bWeyLZrJeDy+pku+EvHdYrGIdrvdVjx2lgYVstPmG1XkAh9J0KW+yA+73e6ViHMxScbjP1dNDuwUZuZdyQlI+fy/qxPQCmgFtAJaAa2AVkArICsQogRB+aS6FElhHjkE/vmL0nOX5TzpWAbojIbD4SfqdpTOJFFGKiFZwTEEJrDBAS70IeD+0xmhaaDyeZsunQuSZo71+/0VsDNBcspoENCloCfEIuaIyRtP9fN4OFpxtEhk08RmiJ1KKJ/P4/kFfHwkHIx9EbYAAAAASUVORK5CYII=);
}
.side .fill-panel .pos div .center,
.side .stroke-panel .pos div .center {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACPTkDJAAAB40lEQVRYCe2XMUhCQRzG33s9nigOErjVJDg02JSboyAuTU6C0KCDtTRITQ1NQUNLNbglOIlGCiLYlJtbDm4OglsQDoL4sGffF55RoGCd2z34c+/d3ft+d/+74fvriUTCcrvdl7PZLKXh0XW9MB6PL0qlks1vWc8yjkG44zghRHgeIfbJAgudZRyTO0eEi8XioF6v74xGI7vZbOYajcaZ+FlGWy6XnWg0WvN6vVo8Hh8kk8kMuG1DiBNuGMaraZqHOIZFvxj/b0tNapNBltAzeeaIPHeOCdutVusNKyvFYrFjMUlGm06n76CdiEQi/ul0egumRfZWMBh8sSxrr9/vH/V6Pd227YfhcHja7XY/ZICFRiAQeMbud8E4QARx3x552cW4hjOfMRYdG3r5zZF+1uuuWy1AZUBlQGVAZUBlQGVAZUBlQBcVi8vlysGlGnDE9zSlm6iMfD7fDRhZMJzJZHJNU2qKioVFA307rfPc10m15YSjKKEt12DLa9Vq9asCW1RGrFhgmzEe8cO5ZhnrGsxV8yuVika4x+N5hyU/QRY0xHdlxHIJA/tY3RNTtErsL2PUpDYZZAkNPZVKXaEzhAkZduKM8shEp1AonItJMtplHIMXgUBEex6dHxWLDDo0lnE+Ab92IvBdr0cVAAAAAElFTkSuQmCC);
}
.side .fill-panel .pos div .inside,
.side .stroke-panel .pos div .inside {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAACPTkDJAAAB2UlEQVRYCe2XMWvCUBSF33vVik46FKSkk7iGToo4KE7W3UkMONi9W6YOnbIVOroUAk7u1n8gOGlmnQyZBMVFbSHpPcFsyRJSurxAINzknu/mGOFc3u12b/P5/LvneQPOeaZUKglVVZkQgiV5uK7LLMtim83GJdaFWJ+Hw+Hlpl6vf9AAw1arlSmXy3y9XrPj8ciKxWKSfLZardh+v2fNZpMTJ73b7R4JcJfCm9dqtXQul/uiKZ9t22aO4yx0Xb9PcoJ+v++QfqXRaMDdETGfptPpQMB2gADvdDp2ktAwLTDAwj2wuWEYHqyhN3+4Fkc0oWWaph4mELemaZpBYJUc9+GKomwLhQLzPzj/QogFgXFap9PpNS4oqg+a0L4yFmDiY+ez2cxDU7vd5lHNf1EPuMn+12JMKgeQDkgHpAPSAemAdEA6IB1IUVL1NxbkdiQqisomAuRkMvmOkbAiW7CBZbPZN0rFGh5aLpd+KBVYlxDLaZDK9VTxYKRSzBvQRCwPOGCCLbCrVatV1uv12Hg8tpHbgyljskLboAltMMACE2xBxQs6KK+PaFVSQrsTLIIBFiTBTmFLnc/nQ+xqVNvSxsKwNAS5PSk2fnOyfXs+n31JYv6Azf97Pf8F8osFSEvslUAAAAAASUVORK5CYII=);
}
.side .fill-panel .pos span.multi,
.side .stroke-panel .pos span.multi {
  color: #999;
}
.side .fill-panel .pos > span,
.side .stroke-panel .pos > span {
  display: none;
}
.side .fill-panel .pos.outside div .outside,
.side .stroke-panel .pos.outside div .outside {
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.side .fill-panel .pos.outside > span.outside,
.side .stroke-panel .pos.outside > span.outside {
  display: block;
}
.side .fill-panel .pos.center div .center,
.side .stroke-panel .pos.center div .center {
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.side .fill-panel .pos.center > span.center,
.side .stroke-panel .pos.center > span.center {
  display: block;
}
.side .fill-panel .pos.inside div .inside,
.side .stroke-panel .pos.inside div .inside {
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.side .fill-panel .pos.inside > span.inside,
.side .stroke-panel .pos.inside > span.inside {
  display: block;
}
.side .fill-panel .pos.multi > span.multi,
.side .stroke-panel .pos.multi > span.multi {
  display: block;
}
.side .text-panel {
  margin-bottom: 5px;
  padding: 0 10px 5px;
  border-bottom: 0.5px solid #CCC;
}
.side .text-panel .line {
  display: flex;
  align-items: center;
  position: relative;
}
.side .text-panel .ff {
  margin-bottom: 4px;
}
.side .text-panel .ff select {
  flex: 1;
  margin: 0;
  padding: 0;
  height: 20px;
  background: #FFF;
  border-radius: 3px;
  font-size: 11px;
}
.side .text-panel .ff .multi {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 20px;
  padding: 0 2px;
  height: 18px;
  background: #FFF;
  line-height: 18px;
  border-radius: 3px;
  font-size: 11px;
  color: #999;
  user-select: none;
  pointer-events: none;
}
.side .text-panel .wc {
  margin-bottom: 4px;
}
.side .text-panel .wc .weight {
  flex: 1;
  display: flex;
  position: relative;
}
.side .text-panel .wc .weight select {
  flex: 1;
  margin: 0;
  padding: 0;
  height: 20px;
  background: #FFF;
  border-radius: 3px;
  font-size: 11px;
}
.side .text-panel .wc .weight .multi {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 20px;
  padding: 0 2px;
  height: 18px;
  background: #FFF;
  line-height: 18px;
  border-radius: 3px;
  font-size: 11px;
  color: #999;
  user-select: none;
  pointer-events: none;
}
.side .text-panel .wc .color {
  margin-left: 5px;
}
.side .text-panel .wc .picker {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAIAAABuYg/PAAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAJKADAAQAAAABAAAAJAAAAAAJxsHGAAAAaUlEQVRIDe3QsRHAIAwEQXAz9N8NqganF8IFit7RB9xovHPvPd6/tdZ7ND7R6CTHNB3DMFJD7zBqOoZhpIbeYdR0DFsZ5zmHxy93VV2+5LPWP8sx0usdRk3HMIzU0DuMmo5hGKmhdyvjD7P7CMyQVK4bAAAAAElFTkSuQmCC) repeat left top;
  background-size: 12px auto;
  border: 1px solid #CCC;
  border-radius: 3px;
}
.side .text-panel .wc .picker b {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  user-select: none;
}
.side .text-panel .num {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.side .text-panel .num > div {
  display: flex;
  flex-direction: column;
  width: 54px;
}
.side .text-panel .num input[type=number] {
  padding: 0 5px;
  height: 20px;
  border: none;
  border-radius: 3px;
  background: #F0F0F0;
  font-size: 11px;
}
.side .text-panel .num span {
  margin-top: 2px;
  font-size: 10px;
  text-align: center;
}
.side .text-panel .wh {
  display: block;
  margin-bottom: 4px;
}
.side .text-panel .wh div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1px;
  height: 20px;
  background: #F0F0F0;
  border-radius: 3px;
}
.side .text-panel .wh div span {
  flex: 1;
  height: 18px;
  background-repeat: no-repeat;
  background-size: auto 16px;
  background-position: center;
  border-radius: 3px;
}
.side .text-panel .wh div span:hover {
  transform: translateY(-1px);
}
.side .text-panel .wh div span.auto {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAASdJREFUWEftlUEOgyAQRQe7qukN9CC1K3qy6sl0VXsQvUFjd9JAOgaJDcxEYpvoxgjIfN7/gICNH7FxfdgF/C+BNL+UoNTNZEiIaujuJSdPbALHrKgFgMSiQ9+y5mL9dMrPclSiVgCNAQAgE6Guz+5hvikPSwCuXhcdIZHGCqYN6wkAAI4NZAE2/oNQlcat7dBvjg1kAbP0u2YzbCALQP91ACcCnxzotlffXqOFEPG7uG0q1ByQCZhiOnDOwYPtCYwNZTuSBVDwhoydCTCIIZHUVYQU+kZoJgC95ITJJ2I6up2dsgvwEnBTv5STJX91m50ltgVpVih73y/lxJ3cPi/wXIgqAEXhXbCqAF+6Q/vZBEIL+MbtAoII+DDG6P+tyyjGCn1z7gTeeFM9MFq+IcQAAAAASUVORK5CYII=);
}
.side .text-panel .wh div span.fw {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAVZJREFUWEfVl1ESwUAMhpN6YtxAD4IXdTKcTL3gINzA8ERMdsSY2rb/smbLS2dMmv3y59/slinxjxOvT90EGOTTJaJMRrfydNiXSGxdjFeBwWgiUFLm1fmwhWCDAPqjyRoBYObNTwCQxWPFdNOE1erMExnL/FvTVXNDCiQHGObjQsljV685IQVCDfe6i3osqyZwCEAVuFFWIIPHxQo/t3GbbyCAEA+4KSqyEKKSiQp9Xo67edAgetsF+XQpIrM2OfU9lV8XPh93jIBDCoR4wBZVAINpakNUAJOfHmeE+aGpDRCAubqtBVaxTzFVxPc/BID0UpNbnDMg88YtKLLQR10bMIDH/aDp5HvKT0Sv1ZoqdW2AABATKoDulOoRrT64CjsVfNsRAkg+ilEPIEr952n4SWXoO5AH0GSfxHkB0Etp22BCgLp5LU/+YYJIFyummyaMVR2S5w4CfcshnVMhHwAAAABJRU5ErkJggg==);
}
.side .text-panel .wh div span.fwh {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAWVJREFUWEfVl8sNwjAMhu1yArFBGQS4UCYrnYxyAQaBDRCcwMgRrtI0kZooIcClEmrsz78fdRAy/zCzf/gtgPliWb2gqExV7pfjLkSp2WI9OFfAq71dzq3Y6ymgDhDVA4DrKUipWbmiAThiowdkB0BsmPRJWCNARQAdsY8ScnaC1ChlObgxAAXSlmWalqs9G/Fxar7L8I/raavSS7gfBSARi3MGCoFQDgGgZ2+MAtlqQByL9JKKkOjljEgvqTBtWat7LAAbZ4N6W5kOkgHoLeuKjmHSARg9fnfMiiQAXfSIDRFtuFtc9ZIcQOWcqHalIQ3AR36WvRswAGBLQ3QA3SAiHkQBftrSEB3A9cGSicdjV2/F+ABS/dpIlblhq4OoAK586/+baYgKIIPFNv1cUzE6gO934b8AvrGSmTViXcmyLyTZVzLe27IupdlWMtvFxLxI+LSh98XEx3isd4NuPLGcs53sAG9u6eIwBg2hXwAAAABJRU5ErkJggg==);
}
.side .text-panel .wh div span.cur {
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.side .text-panel .wh .txt {
  display: block;
  margin-top: 2px;
  font-size: 10px;
  text-align: center;
}
.side .text-panel .al {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1px;
  height: 20px;
  background: #F0F0F0;
  border-radius: 3px;
}
.side .text-panel .al span {
  flex: 1;
  height: 18px;
  background-repeat: no-repeat;
  background-size: auto 16px;
  background-position: center;
  border-radius: 3px;
}
.side .text-panel .al span:hover {
  transform: translateY(-1px);
}
.side .text-panel .al span.left {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAFlJREFUWEftlTEOACAIA+X/j9bNwcSkg7UM5wPkchSoEX4Vrj8AOA3MTy3ZdQEghBhwTYFsFgBZlWtDAtDOANcwbsA1bdd/24UQA69CKLeWayircqUTgLiBBSHsDCF4RmeVAAAAAElFTkSuQmCC);
}
.side .text-panel .al span.center {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAGlJREFUWEftlTEOACAIA+H/j9bNwcQ0kSod6koC5SiS0fyyuX5YwE5gfBrJqmsBNqEJIAKstTzWsQBE4PnHaAFyBFhrh7zja3gkgNDR43ImpHeIEsoTYK2lr+E1AeShclzehOUOUYJ2AhPB3Qwhcp2/KgAAAABJRU5ErkJggg==);
}
.side .text-panel .al span.right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAFtJREFUWEftlTEKACAMA+3/H62bgyAhUKzKuRZJOBMbrfhEsX7DwEqgH3qSqYsBQggBl0BWTbc1VN8ABhQhe+5mwBZQFzDAMrqOgApt+pwWPEeAZVROgBr+R2AAYd0MIXbyZDQAAAAASUVORK5CYII=);
}
.side .text-panel .al span.justify {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAElJREFUWEft1dENACAIQ0HYf2j908QBgMRjgTaPFjKaJ5v1g4GXwCpaydFlQAgR0IJxBIoO4ZXRgnEEfMN2AmqIQHsIGRDC/whsISwMIZB9QqIAAAAASUVORK5CYII=);
}
.side .text-panel .al span.cur {
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@keyframes blink {
  0% {
    visibility: visible;
  }
  33% {
    visibility: visible;
  }
  67% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
