html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: arial, sans-serif;
  background: #FFF;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: #413B3D;
    z-index: 10;
    color: #FFF;
  }

  > .container {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
  }
}

.list {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 8px;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #CCC;
  overflow-y: scroll;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    padding: 0 4px;
    height: 24px;
    font-size: 14px;
    border-radius: 5px;
    cursor: default;

    &.current {
      background: #FA8;
    }
  }
}

.tree {
  position: absolute;
  left: 0;
  top: 150px;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  font-size: 12px;

  dl {
    margin: 0 0 0 10px;
    height: 24px;
    overflow: hidden;
    transition: transform 0.3s;

    &.expand {
      height: auto;

      > dt > .arrow {
        transform: rotate(90deg);
      }

      > dt > .group {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGKioqLi4uJiYmKioo+i8DTAAAABHRSTlMAv0CAYFATkgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGpJREFUeJzd0lEKwCAMA9Amzf3PPNjQqWsVJuxj+fVZa6nZb+LQEHhzTIW5AWLgK6AKNFx4RGdXtgAsldqvsANMG9X1At4AVMCghQ5YPE82AHMAnwxTabANuAtQFi4DdQMWBbKdmmzQ1zkAXVUHxJnsxggAAAAASUVORK5CYII=);
      }
    }
  }

  > dl {
    margin-left: 0;
  }

  dt {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 400;
    height: 24px;
    border-radius: 3px;

    &:hover, .hover {
      background: #f3f3f3;

      .visible {
        opacity: 1 !important;
      }
    }

    &.active {
      background: #F96;
    }

    span {
      margin: 0 1px;
    }
  }

  .name {
    flex: 1;
    margin: 0 1px 0 2px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    font-size: 12px;
  }

  .arrow {
    width: 16px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmLi4uKioqKioroQWixAAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAADxJREFUeJzt0jEOACAMAkAo/P/NxrkJHTVRVm5qAW5KSRWBbEdBf9HugUlwAhp6h6fw8R4bxNGWmGd/Lgtr9QGliQYH7QAAAABJRU5ErkJggg==)
    no-repeat center;
    background-size: 14px 14px;
  }

  .mask {
    width: 12px;
    height: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXG/v7+/v7+/v7+/v7+0sE34AAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHNJREFUeJzNk9sKwCAMQ5s0///Nw8vYi40DGSwPIubYQo0RH4kEjJtqorelogS6mQkaP6vq0X1jB+vWQ5AyjCApNgAsoE0BHnfAzwHiAfp+eRf3yuIVMZdVI7TjBhR+jKS8yKILzCTMJDqxC5yfZFR/4UwXJAECEkhS6UQAAAAASUVORK5CYII=)
    no-repeat center;
    background-size: 12px 12px;
  }

  .type {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;

    &.group {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGKioqJiYmLi4uKiopYxsThAAAABHRSTlMAv4BAMM4GbAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAFtJREFUeJzV0lEKwCAMA9Am5v5nHmMqgzXrn2h++zAqjdgjjfoGaHMukyHgACugDnQ3zsIketVZEJE9hAVQv6Y8QAW0EpAFcFkFUAH6+fPV4Y8YW8Cc8HdLjsoFWTcIPlIlhe0AAAAASUVORK5CYII=);
    }

    &.text {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAgCAMAAACvkzHFAAAAD1BMVEVMaXGLi4uJiYmKioqKioqjr6EAAAAABHRSTlMAQIC/o1TdDAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKFJREFUeJzNkksOxDAIQ8H2/c9cAZl+FJJKs6oXVSSsB5iafVgOf/VA3ABKFMdr5kGT/vI8RL0O7huGs3aisAYgizuMmSlM+ckwFiBFQsO/wEFULeUavFlnhUsPIrzkSOibISthcrHPAIGPQSqjDsSaIBCesHmiYYlkrH6RqVk2uq3XHh+XJWYqoV2/2vJ2QGs1MtqdNzb7AVcgP0e7Xt/SAT1hAsgUUcgPAAAAAElFTkSuQmCC);
    }

    &.symbol-master {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEVMaXHRAP/QAP/PAv/RAP/RAf/PAP/RAP/QAf/RAP/SAP/QAf/QAf/PAP/QAf/QAf/uov+O2ltNAAAAD3RSTlMAiD6QbvgKf+RMLbPEINI1tsIGAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfElEQVR4nO2TSw6AIAxEh38Bdbz/aY3xS40a974V0DKUZgo0RB/xiKe/nGXhLZIBPMRJAUCOt5B/wszfhy99kDfLvZp2pTD027oPLBf3V7pj41h13DKYtGMCrUro9POdGq9GICUjPNUHYNAz6Tm0AqKmOrYS9vzh9Y4sZU7qyyurbLtifQAAAABJRU5ErkJggg==);
    }

    &.symbol-instance {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAolBMVEVMaXHQAf/RJf/VGf/UH//PAP/QAf/UEP/eFf/XJP/XIv/QAP/QAP/QAP/RAf/QAP/QAf/QAf/QAf/QAf/RAf/PAP/aNf/cQf/cSv/dSP/hUP/bQv/ZMf/QAv/RAv/RAP/PAv/QAv/eR//XLP/fTf/XK//QAv/bOP/bOf/uov/QAf/SB//tm//XIv/mdf/qi//hXf/aN//bQf/sk//fU//YLv96DRenAAAAKXRSTlMA/BD6CSHz/gUY7XlLZuI+xM/Z67Ytx5JIWSl/0oiqWJuUa4Y44ae3tj1uCPsAAAAJcEhZcwAACxMAAAsTAQCanBgAAADbSURBVHicjZPXDoJAEEUvoIIVFey9Oxd7+f9fM5gQBMFxXzbZc5K9szsDJFd9hZ/LNbj8xYseaa/zeaFF/0nLzBW2bJsHi5s8XmWpAzkH3GXzmsEaIHIiR1m8U2IVoSAPBv1vbrY5DXcRkSut8pfgs1WIhMORFSfFJ/SKiAQ52+wm+YyGi1gIg/ZSAev4FOTCYBDzcoNzJAW50R5GZ06TTScthEHfqQEs2IirigS52xz/KzjaFdBCQi0T6kNBfWqonwX1u6E1jN5yH027z+Z62+uDo46ePrwZ4/8CQhQrboOYYAsAAAAASUVORK5CYII=);
    }

    &.art-board {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAMFBMVEVMaXGXl5eXl5eXl5eWlpaYmJiXl5eenp6YmJiXl5eXl5eXl5eXl5eXl5eXl5fi4uK6FOohAAAADnRSTlMAf+RMizj4CnAgs9LEZXo4EaYAAAAJcEhZcwAACxMAAAsTAQCanBgAAAB6SURBVHic7ZNLDoAgDESHWr7qeP/bGuOXEjXufSugMC3NFKiIY8Qjiak564S3SAfgIU4KAHK6hfwvLPx9+NIHebPcq2k3PEPe1znQN+4v1HOjLDbuGdQdaCsx2PSDGa9KwDkVXuoD0NuZTOxrATFTHWsJf/3w9kbWMmfk1SgaFE1IPAAAAABJRU5ErkJggg==);
    }

    &.bitmap {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAMAAACf4xmcAAAAD1BMVEWLi4tMaXGKioqJiYmKiop7sw+NAAAABHRSTlNAAL+ApmIP8AAAAAlwSFlzAAALEwAACxMBAJqcGAAAAK5JREFUeJzNlFEOwzAIQw32/c880SZNtbCQSZtUf79EYAOwLeHnGHwl8sDgqgSD1ZRkoORYyiUExqJ8iYHhORiADczVe1thOP2qMH6B+YSBdO9F99rwhl3x897pZMgImWk3DXPFVGGYkGN3G1hjFg1uYDa+I3l2kWEMu4Bm7/EktZfzHqQpsFvT7PwUFvrWxRvnE4f8UqwoIDmrdebucWhTv1Scmkhvfbn+ci03sBdSIAnm85J8fwAAAABJRU5ErkJggg==);
    }
  }

  .geom {
    width: 16px;
    height: 16px;
  }

  svg {
    display: block;
    overflow: visible;
    transform-origin: 0 0;
  }

  .visible {
    width: 16px;
    height: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmLi4uKioqKioroQWixAAAABHRSTlMAgEC/+QGcAgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAINJREFUeJzlkkESwCAIAyHk/2/uiNqC6PTecnJYSRAU+XOAegBA56QfUqiS9MrGi4I2+sZNTxyzOHALTSDUjHNu0wrvnsFfq9aTBWkbL3lMdGYTD7pi3W7lU1dE6nxaj/GdkrmPbVkG5pzRdxL01/ncO0nByH0l2x8CQOs/GDcO+W/EBf23An1cysX/AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;

    &.t {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAD1BMVEVMaXGJiYmKioqLi4uKiorbZ+qoAAAABHRSTlMAgL9ARyeO/QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIJJREFUeJztkUsSgDAIQ0ng/md2WoK1HxfuzcKx5pHB1OzXKgcZQQLHbsAY2hGkQbaQA4Lu+vM0EWh224IyMBOIiD6d6b4SqAMiqCzzGso51IsZ20O0AA6AopRbBYXSer5oPy3hueTm27zm9hOjGn3y3jq+VW03ktzLfULXXQX9slsX/f0C5gV3+OMAAAAASUVORK5CYII=);
      opacity: 0;
    }
  }

  dd {
    margin: 0;
  }
}

.main {
  flex: 1;
  position: relative;
  overflow: hidden;

  .canvas-c {
    width: 100%;
    height: 100%;
    background: #FFF;
    overflow: hidden;
  }

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.side {
  position: relative;
  z-index: 11;
  width: 250px;
  padding: 5px 0;
  overflow-x: visible;
  overflow-y: auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;

  .panel-title {
    margin: 0 0 2px;
  }

  .basic-panel {
    margin-bottom: 5px;
    padding: 0 10px 5px;
    border-bottom: 0.5px solid #CCC;

    .line {
      display: flex;
      margin-bottom: 3px;
    }

    label {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 15px;
      width: 62px;
      padding: 0 5px 0 0;
      background: #F0F0F0;
      border-radius: 3px;
      font-family: Menlo, "Courier New", sans-serif;
      font-size: 10px;

      &.disabled {
        opacity: 0.5;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .num {
      margin: 0;
      padding: 0 5px;
      width: 45px;
      height: 20px;
      border: none;
      background: transparent;
      font-size: 11px;
    }
  }

  .opacity-panel, .round-panel {
    margin-bottom: 5px;
    padding: 0 10px 5px;
    border-bottom: 0.5px solid #CCC;

    .line {
      display: flex;
      align-items: center;
    }

    input[type=range] {
      flex: 1;
    }

    input[type=number] {
      margin: 0 2px 0 5px;
      padding: 0 5px;
      width: 40px;
      height: 20px;
      border: none;
      border-radius: 3px;
      background: #F0F0F0;
      font-size: 11px;
    }

    span {
      width: 12px;
    }
  }

  .fill-panel {
    margin: 5px;
    padding: 0 5px 5px;
    border-bottom: 0.5px solid #CCC;

    .line {
      display: flex;
      align-items: center;
    }

    .un-checked {
      margin-right: 5px;
      width: 12px;
      height: 12px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAGKADAAQAAAABAAAAGAAAAADB/VeXAAABLUlEQVRIDe2WMY6CUBCG970sndV2m+wNLLyCIR5jO3HhBB7CCwAGO4+xMV5hC29gYrcVHQn4f0YSY+GDCFa8ZJw3j5lvJiN5g3m7rqqqTJIkgfTcGDPW8ah+1lDnij0odhNFUSZdEWf4SdP0syzLrbY+dgdrZ639DsPw9H6tvIYflXkp2fOwTSKKFGsqWSnOp2DtZyaO44UO1pKj53mTIAj+24DvfbMs+yiK4k/nX5IfqyxznKj8WTgcGLDYw7Yy+ENJsEd3sWoWbCvg5W1p2/NHhdywRiTodQ0JnO0dWjS0yNkBp8NL3qKcMrjPneU0dLhh5VzXB+Kkpw3jnW41CzbX9YYIGSuGhTPa4QADFm6wjQyG/a9sX9LVyGSa7TT8Z70P/UsCZaNFvXy2nAG9DqEGM9MRewAAAABJRU5ErkJggg==) no-repeat center;
      background-size: contain;
    }

    .checked {
      margin-right: 5px;
      width: 12px;
      height: 12px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAGKADAAQAAAABAAAAGAAAAADB/VeXAAACMklEQVRIDbWWz2sTQRTHv7PZaTfYHLzpvRYkBz14UfxFqKeeSvFnqgd/JEEFRS8iRfEXXoSCgtraetGL/4AHkQgieAmoSFSkd882LRubWdf3Nplk11k0ZtcHk5n33rzPe/ODnQh0xAdEozJ2Er5/gkx5aiPa12e/QvPqEGIx9/DrggAISVD+WS1t3uiJ1lNSC6wnF7+a8eX0uvnP3yyuPF04lycKzGS2WK6MnaJtmU9edQxBiJLV2fMYbwomOk+LMHygyUQ6ADdT8pzgX29LBCP3FJGbrQVNbp+M+JjNCQaWocIxOIevAvZQ0IanLhmsgRPIvUUMH5iJAP3V7xGdlYESyF2H4By8EoH5ay6aTy5HbLEJ7PxujNx+HTR76z4jQO7cD+fINb7hPV+rCfd+Bd5SrWfrjIwVONM3INZvCFq2dBf2tolukNwxBad48zf4D7gPTsP78rY7Lzyww4oxtjLIHr8DlxwiI+EcvRWFqzW4c2egPr0xQrVBLJc3BR8lbbC3jCNbvkenk9Em4KfXBovQglWL4GehPr7qzYsZhSLaXvXhJdzHF9tQHcDJwnBPwX107q9wDjcSsFHVnptJ2MFCq3EXzoML6UdiE3BgbBKGL16AeveiH3Yw54+HHCShg9R3vvnsOtT7/irXFfAhN0hJ9D3SsJh+hbeoHuNIy1S3+A1Ni2ZwiC34WWuUR2lj03qPdRq/mptbGrf49ecHmrqqdiXv248+s7tfrGAl/+Fvyy9N0bde6toDwgAAAABJRU5ErkJggg==) no-repeat center;
      background-size: contain;
    }

    .multi-checked {
      margin-right: 5px;
      width: 12px;
      height: 12px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAGKADAAQAAAABAAAAGAAAAADB/VeXAAABLUlEQVRIDWNkgIL/DAyMnzPUUhj+/08GCmkDMQ9Mjkj6C1DdVQZGxrm8M27NYWRgABoJNBREfE3TlPzL+HsJkOsE4lMO/u9j/s8awz3r+nMmkMupazjIeYxOIDNBZjN+ylBLBQbLLMpdjcUERsY0JmiYY5GlghAwPpmAxoAilFZAG2QBqamFFMfwgCygKRj6FrCghw+Ljh0DR3QLA6OgBLoUXv7/9y8YfiytYfhz5RCKOowgIsdwkIkgB4H0ogMMC9AVUMrHsADkTZB3SQWwIELXx/gpXRVc6qFLUIuP4QNqGQwzZ3hYAKqJaAW+gILoKq1MB5nNBKpDaWYB0GxGULX2OV1lD6iao65F//fxzrzjwgSq/UEVNJDaRz0LIJU+yGxwqwJkMNgnNGi2AACn3l2PYicOrQAAAABJRU5ErkJggg==) no-repeat center;
      background-size: contain;
    }

    input[type=color] {
      flex: 0 0 auto;
      width: 40px;
      height: 20px;
      border: none;
      border-radius: 3px;
      font-size: 11px;
    }

    input[type=text] {
      flex: 1;
      margin: 0 2px;
      padding: 0 5px;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 3px;
      background: #F0F0F0;
      font-size: 11px;
    }

    input[type=number] {
      flex: 0 0 auto;
      margin: 0 2px;
      padding: 0 5px;
      width: 40px;
      height: 20px;
      border: none;
      border-radius: 3px;
      background: #F0F0F0;
      font-size: 11px;
    }

    .color {
      text-align: right;
      color: #999;
    }

    span {
      flex: 0 0 auto;
      width: 12px;
    }
  }
}

/*.text {*/
/*  display: none;*/
/*  margin-top:10px;*/
/*}*/

/*.text.show {*/
/*  display: block;*/
/*}*/

/*.text .line {*/
/*  position: relative;*/
/*  display: flex;*/
/*  margin-bottom: 3px;*/
/*}*/

/*.text .line2 {*/
/*  position: relative;*/
/*}*/

/*.text .family {*/
/*  width: 260px;*/
/*  height: 24px;*/
/*}*/

/*.text .family2 {*/
/*  position: absolute;*/
/*  top: 2px;*/
/*  left: 2px;*/
/*  padding: 0 3px;*/
/*  box-sizing: border-box;*/
/*  width: 230px;*/
/*  height: 20px;*/
/*  background: #FFF;*/
/*  line-height: 20px;*/
/*  font-size: 12px;*/
/*  pointer-events: none;*/
/*}*/

/*.text .family-n {*/
/*  color: #f33 !important;*/
/*  text-shadow: 0 0 2px rgba(80, 40, 0, 30%);*/
/*}*/

/*.text .style {*/
/*  margin-right:10px;*/
/*  width: 190px;*/
/*  height: 24px;*/
/*  font-size: 12px;*/
/*}*/

/*.text .style-n {*/
/*  color: #f33 !important;*/
/*  text-shadow: 0 0 2px rgba(80, 40, 0, 30%);*/
/*}*/

/*.text .style2 {*/
/*  position: absolute;*/
/*  top: 2px;*/
/*  left: 2px;*/
/*  padding: 0 3px;*/
/*  box-sizing: border-box;*/
/*  width: 170px;*/
/*  height: 20px;*/
/*  background: #FFF;*/
/*  line-height: 20px;*/
/*  font-size: 12px;*/
/*  pointer-events: none;*/
/*}*/

/*.text .color {*/
/*  height: 24px;*/
/*}*/

/*.text .color2 {*/
/*  position: absolute;*/
/*  top: 2px;*/
/*  left: 2px;*/
/*  padding: 0 3px;*/
/*  box-sizing: border-box;*/
/*  width: 46px;*/
/*  height: 20px;*/
/*  background: #FFF;*/
/*  line-height: 20px;*/
/*  font-size: 12px;*/
/*  pointer-events: none;*/
/*  text-align: center;*/
/*}*/

@keyframes blink {
  0% {
    visibility: visible;
  }

  33% {
    visibility: visible;
  }

  67% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}
