name: CI

on: [push, pull_request]

jobs:
#  test:
#    runs-on: ubuntu-22.04
#    steps:
#      - uses: actions/checkout@v2
#      - name: Use Node.js
#        uses: actions/setup-node@v2
#        with:
#          node-version: 20
#      - name: npm install
#        run: npm install
#      - name: npm build
#        run: npm run build
#      - name: npm test
#        run: npm run test
#  test1:
#    runs-on: ubuntu-22.04
#    steps:
#      - uses: actions/checkout@v2
#      - name: Use Node.js
#        uses: actions/setup-node@v2
#        with:
#          node-version: 20
#      - name: npm install
#        run: npm install
#      - name: npm build
#        run: npm run build
#      - name: npm test1
#        uses: GabrielBB/xvfb-action@v1
#        with:
#          run: npm run test1
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#  test2:
#    runs-on: ubuntu-22.04
#    steps:
#      - uses: actions/checkout@v2
#      - name: Use Node.js
#        uses: actions/setup-node@v2
#        with:
#          node-version: 20
#      - name: npm install
#        run: npm install
#      - name: npm build
#        run: npm run build
#      - name: npm test2
#        uses: GabrielBB/xvfb-action@v1
#        with:
#          run: npm run test2
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#  test3:
#    runs-on: ubuntu-22.04
#    steps:
#      - uses: actions/checkout@v2
#      - name: Use Node.js
#        uses: actions/setup-node@v2
#        with:
#          node-version: 20
#      - name: npm install
#        run: npm install
#      - name: npm build
#        run: npm run build
#      - name: npm test3
#        uses: GabrielBB/xvfb-action@v1
#        with:
#          run: npm run test3
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#  test4:
#    runs-on: ubuntu-22.04
#    steps:
#      - uses: actions/checkout@v2
#      - name: Use Node.js
#        uses: actions/setup-node@v2
#        with:
#          node-version: 20
#      - name: npm install
#        run: npm install
#      - name: npm build
#        run: npm run build
#      - name: npm test4
#        uses: GabrielBB/xvfb-action@v1
#        with:
#          run: npm run test4
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  test5:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20
      - name: npm install
        run: npm install
      - name: npm build
        run: npm run build
      - name: npm test5
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test5
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
